DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database][?parameters]"
SECRET="TokenSecret333"
PORT="3000" # For express
REDIS_PASS="PASSWORD FOR REDIS CLIENT"
REDIS_HOST="HOST FOR REDIS CLIENT"
REDIS_PORT="15000"
MODE="dev" # Client will use express local instance rather then proxy "/api"
HOCUSPOCUS_PORT="1235"
VITE_HOCUSPOCUS_URL='ws://localhost:1235' # end must match HOCUSPOCUS PORT

# IN server/express create .env.test
TEST_DATABASE_URL="postgresql://[user]:[password]@[host]:[port]/[database][?parameters"
NODE_ENV=test