@import "tailwindcss";


@theme {
  --color-text: #6b6375;
  --color-text-h: #08060d;
  --color-bg: #fff;
  --color-border: #e5e4e7;
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}
:root {
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color-text);
  background: var(--color-bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-text: #9ca3af;
    --color-text-h: #f3f4f6;
    --color-bg: #16171d;
    --color-border: #2e303a;
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  position: relative;
  padding: 0 1rem;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--color-border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--color-heading);
  font-weight: 500;
  color: var(--color-text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

.yRemoteSelectionHead {
  position: relative;
}


.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.button {
  border: var(--color-border) 2px solid;
  color: var(--color-text-h);
  padding: .5rem 1rem;
  border-radius: .5rem;
}

.button:hover {
  background-color: var(--color-text);
}

.link {
  text-decoration: underline var(--color-text)  1px;
}
.link:hover {
  text-decoration: underline var(--color-text-h)  1px;
  color: var(--color-text-h);
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

